.homepage {
    font-size: 40px;
    text-align: center;
    font-family: Calibri;
    background-color: burlywood;
    color: red;
    padding: 30px;
    font-style: italic;
}
.general {
    background-image: url("source/background.png");
}
 h1  {
     font-size: 60px;
 }

 .header a {
     font-size: 15px;
     line-height: 10px;
     background-repeat: no-repeat;
     background-position: left;
 }

.header-email {
    padding-left: 30px;
    background-image: url("img/icon-email.svg");
}

.header-phone {
    padding-left: 30px;
    background-image: url("img/icon-phone.svg");
}

figcaption {
    color: black;
    font-size: 40px;
    text-align: right;
    font-weight: bolder;
}
.imgcomment {
    padding-left: 450px;
    padding-bottom: 0px;
    padding-top: 40px;
    text-align: justify;
    text-decoration: none;
}

span {
    color: red;
}

.history {
    font-size: 25px;
    color: blue;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

.daylist {
    font-size: 30px;
    padding-left: 300px;
    color: white;
    text-decoration: underline;

}

.footer a {
    background-repeat: no-repeat;
    background-position: left;
    color: green;
}

.footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email.svg");
}

.footer-phone {
    padding-left: 30px;
    background-image: url("img/icon-phone.svg");
}

.newbackground {
    background: url("source/bg-page.png") no-repeat top center;
    color: #222222;
    padding: 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
}

.header1 {
    color: brown;
}

.inbag {
    text-align: center;
}

.next {
    text-align: left;
}